*{
    width: 652.5px;
}

#title {
    font-size: 36px;
    line-height: normal;
}

body 
{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-bottom: 30px;
    color: rgb(33, 43, 53);
    font-size: 18px;
    line-height: 1.7;
}

footer {
font-size: small;
}



