header {
    font-family: 'Open Sans Condensed', sans-serif;
}

#top{
    opacity: 0;
}

h1 {
    font-size: 72px;
    line-height: 10px;
}

img {
    width: 50vw;
}

figcaption {
    font-size: 12px;
}

main {
    font-family: "Open Sans", sans-serif;
}

.review {
    width: 25vw;
    height: 200px;
    padding: 10px;
    margin: 10px;
    background-image: linear-gradient(rgb(255, 221, 208),rgb(255, 181, 138));
    box-shadow: 2px 2px darkgray;
    display: inline-block;
}

